VITE_JSONBIN_BIN_ID=6a160a97f47d5c455c3a9e85
VITE_JSONBIN_MASTER_KEY=$2a$10$8YNTDUc2y4zWQdmw7mWbkeQ9B.cwoD1sgWPnkGiiuzXNxtU/W7YKa

# Clave oficial de prueba para desarrollo local con reCAPTCHA v2.
VITE_RECAPTCHA_SITE_KEY=6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI

# Tu clave real. Usala cuando agregues localhost/127.0.0.1 en Google reCAPTCHA.
# VITE_RECAPTCHA_SITE_KEY=6LcTX_4sAAAAAJIGwnDiA34EWkeP2WxUygKxeIiS