VITE_JSONBIN_BIN_ID=6a160a97f47d5c455c3a9e85
VITE_RECAPTCHA_SITE_KEY=6LcTX_4sAAAAAJIGwnDiA34EWkeP2WxUygKxeIiS

# Usa esta si tu llave es la Master Key de JSONBin.
VITE_JSONBIN_MASTER_KEY=tu_master_key

# Si creas una Access Key con permisos read/update, puedes usar esta en lugar de la Master Key.
# VITE_JSONBIN_ACCESS_KEY=tu_access_key_con_permiso_read_update
